<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="pokedex" ng-controller="monController">

	<div class="container">

		<h1>Pokésir</h1>

		<!-- Search -->
		<div>
            <input ng-model="id"/></br>
            <input ng-model="name" ng-value="pokemon.name" />
            <select ng-model="name">
                <option ng-repeat="pokemon in pokemons">
                    {{pokemon.name}}
                </option>
            </select>
            <button>Get</button>

        </div>
		<!-- Pokémon information -->
		<div>
            <p ng-repeat="pokemon in pokemons | filter:{id:id}">

                <span ng-if="pokemon.id==id">#{{id}} {{pokemon.name}}</span>
            </p>
        </div>
        <div>
            <ul>
                <li ng-repeat="pokemon in pokemons ">
                    {{pokemon.name}}
                </li>
            </ul>
        </div>

	</div>
    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>

</body>
</html>
